.panel-error {
    color: red;
    border: 1px solid red;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn {
    cursor:pointer;
}

.btn.success {
    background-color:#e5f9bb;
}

.btn.danger {
    background-color: #ffb7b7;
}

.btn.default {
    background-color: #eee;
}
