.my-navbar{
    border-bottom: 1px #C0A873 solid;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0;
    background: #e1e1e1;
    padding: 15px 0px 10px 0px;
}

.my-navbar .navbar-header a > img {
    width: 60px;
    margin-top: -3px;
}
.my-navbar .navbar-nav {
    font-size: 14px;
    letter-spacing: 2px;
    background: #e1e1e1;
    margin-top: 1em;
}
.my-navbar .navbar-nav > li{
    /*margin-right: 5px;*/
}
.my-navbar .navbar-nav > .nav-img > a{
    display: inline-block;
    padding: 9px 0px 0px 0px;
}
.my-navbar .navbar-nav > li > a{
    color: white;
    padding: 10px 9px;
}
.my-navbar .navbar-nav > li > a:link, .my-navbar .navbar-nav > li > a:visited {
    color: #095352;
}
.my-navbar .navbar-nav > li > a:hover {
    color: #e1e1e1;
}

/* Basic styling */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Georgia, serif;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
}
p, a , li{
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
    line-height: 2;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
.btn-rooms {
    margin-bottom:5%;
    text-align: right;
}
.btn-book {
    background-color: #bdbdbd;
    color: #522b08;
    border-radius: 0px;
    margin-top: 18px;
    border: 1px #fff solid;
}

.hr-line {
    border: 0.5px #e1e1e1 solid;
}


.show-contact-dialog, .show-about-hotel-dialog, .show-gallery-dialog, .show-offer-dialog {
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;
    padding: 2% 8% 2% 8%;
}

.show-offer-dialog h2 {
    color: #e1e1e1;
}
.show-offer-dialog h3 {
    color: #e1e1e1;
    text-align: left;
}
.show-offer-dialog h4 {
    color: #e1e1e1;
    text-align: left;
}
.show-offer-dialog p {
    text-align: left;
}

.detail-offers img {
    width: 100%;
}

.show-gallery-dialog h2 {
    color: #e1e1e1;
}
.show-gallery-dialog img {
    width: 100%;
}
.restaurant p {
    text-align: left;
}

.show-about-hotel-dialog h1 {
    text-align: left;
    color: #333333;
}
.show-about-hotel-dialog p {
    text-align: left;
    color: white;
}
.show-about-hotel-dialog .row {
    margin-bottom: 20px;
}

.show-about-hotel-dialog img {
    width: 500px;
}
.show-about-hotel-dialog ul li {
    text-align: left;
}

.show-contact-dialog h2 {
    text-align: left;
    color: #e1e1e1;
}
.show-contact-dialog p {
    text-align: left;
    color: white;
}
.show-contact-dialog input, .show-contact-dialog textarea {
    background-color: black;
    border: 1px #C0A873 solid;
    border-radius: 0;
    color: white;
}
.show-contact-dialog input {
    height: 50px;
}
.show-contact-dialog .div-contact {
    margin-right:2px;
}
.show-room-dialog .table-book-search a:link, .show-room-dialog .table-book-search a:visited{
    color: black;
}
.show-room-dialog {
    background-color: white;
    color: black;
    height: 100%;
    text-align: center;
    padding: 2% 5% 0 5%;
}
.show-room-dialog h2 {
    margin-top: 1em;
    color: #e1e1e1;
}
.show-room-dialog p {
    color: #999999;
    font-size: 14px;
}
.show-room-dialog .roomtype-description {
    text-align: left;
    word-wrap: break-word;
}


.show-room-dialog-rooms a > img {
    width: 25%;
    margin: 10px 5px 5px 5px;
}
.show-room-dialog-rooms h2 {
    text-align: left;
    color: #e1e1e1;
    margin: 0;
}
.show-room-dialog-rooms .rooms-price {
    text-align: right;
    font-style: italic;
}
.show-room-dialog-rooms p {
    text-align: left;
}
.show-room-dialog-rooms h2 > a:link, .show-room-dialog-rooms h2 > a:visited  {
    color: black;
}

.data-input-book {
    border: 1px solid #e1e1e1;
    padding: 15px;
    margin: 0px;
}

.my-breadcrumb h3 {
    padding: 15px;
    text-align: left;
    color: black;
    background-color: #e3e3e3;
}
.my-breadcrumb .active {
    color: white;
    background-color: #afafaf;
}

.room-modules {
    background-color: black;
}
.room-modules h3{
    color: #e1e1e1;
    text-align: left;
}

.room-new {
    margin-bottom: 20px;
}
.img-room {
        height: 400px;
        width: 100%;
}

.food-drink{
    margin-bottom: 20px;
}
.food-drink-paragraph {
    text-align: left;
}

.table-room {
    color:white;
}


.breadcrumb-style {
    float: left;
    width: 20%;
}

.breadcrumb-style i {
    color: #ad7e27;
}

.breadcrumb-style .active i {
    color: #fff;
}

table td{
    text-align: left;
}

.table-book-details td {
    background-color: #e1e1e1;
}
.table-book-customer-detail td {
    background-color: #e1e1e1;
}
.footer {
    background-color: #e1e1e1 ;
    padding: 4% 8% 4% 8%;
}
.footer h3 {
    color: #999999;
}
.footer p > a, p{
    color: #99A3B6;
}
.footer-contact a:visited {
    color: #99A3B6;
}
.footer-contact a:hover {
    text-decoration: underline;
}
.all-rights-reserved {
    background-color: black;
    text-align: center;
    font-size: 16px;
    padding: 10px 5px 5px 5px;
}
.all-rights-reserved p {
    color: #e1e1e1;
}
.book-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 0px 50px 0px;
}
.book-form .text-form, .book-form-search .text-form  {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
}
.book-form .form-inline > .form-group, .book-form-search .form-inline > .form-group {
    padding: 0px 10px 0px 10px;
}

.book-form-search {
    background: white;
    padding: 50px 0px 50px 0px;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

.inner {
    margin: 0px -15px 0px -15px;
}

.panel-body {
    background-color: black;
}
.panel-body img {
    width: 100%;
    height: 200px;
}
.panel-body h3 {
    color: #DCA455;;
}
.link-connect {
    background-color: #E2C285;
    border-radius: 50% ;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: inline-block;
}

.errorTxt .error {
    text-align: left;
    color:red;
    font-weight: 700;
    margin: 0px;
}
.error-page {
    margin: 90px 0px 90px 0px;
}

.alert-booked {
    background-color: red;
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

.gallery-room > div > ul > li > a > img {
    width: 97% !important;
}

.img-room-index{
    border: 4px solid #fff;
    border-radius: 4px;
    height: 210px !important;
}

.pic-divider img {
    margin: auto 0;
    width: 330px;
}

#btn-to-top {
    cursor:pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-color: #6a6a6a;
    position:fixed;
    margin-left:  93%;
    bottom: 25px;
    z-index: 999;
    border-radius: 3px;
}

#img-logo {
    width: 80px;
}

#btn-book-on-page {
    position: fixed;
    right: -75px;
    top: 0;
    height: 50px;
    width: 200px;
    transform: rotate(-90deg);
    margin-top: 300px;
    z-index: 999;
    background: #095352;
    color: white;
}

.food-drink-img, .food-drink-place  {
    margin-bottom: 20px;
}

@media screen and (max-width: 570px) {
    .pic-divider img {
        margin: auto 0;
        width: 80%;
    }
}
@media only screen and (min-height: 1000px) {
    .inner-content {
        height: 60vh;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav {
        background-color: black;
        text-align: center;
        padding-bottom: 20px;
    }
    .my-navbar .navbar-header a > img {
        width: 50px;
        margin-left: 15px;
    }
    .show-room-dialog h1 {
        padding-top: 30px;
        font-size: 2em;
    }
    .inner {
        padding: 0;
    }
    .inner-content {
        height: auto;
    }
    .text-form {
        color:white !important;
    }
    .inner-content h1 {
        font-size: 40px;
    }
    .my-breadcrumb h3 {
        text-align: center;
    }

    .btn-rooms > button{
        width: 100%;
    }

    .show-room-dialog-rooms h2 {
        margin-top: 10%;
    }

    #btn-to-top {
        right:  15px;
        bottom: 25px;
    }

    #img-logo {
        height: 70px;
    }

    #btn-book-on-page {
        margin-top: 200px;
    }

    .room-new-img {
        margin-top: 10px;
    }

    .img-room {
            height: 250px;
            width: 100%;
    }

    .food-drink{
        margin-bottom: 0;
    }
}

.color.gold {
    color: #bdbdbd;
}

.color.dark-grey {
    color: #999999;
}

.gallery-pic {
    width: 100%;
    height: 150px;
    background-size: cover;
    margin-bottom: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
}

.pic-divider {
    display: block;
    text-align: center;
    margin: 2em 0;
}

.payment-label {
    text-align: left;
    padding: 0.5em 0.5em;
}

.payment-label label.disabled img {
    cursor: not-allowed;
}

.payment-label img {
    cursor: pointer;
}

.payment-label.selected {
    background-color: rgba(220, 184, 106, 0.2);
}

.payment-section {
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.payment-section .payment-title {
    text-align:left;
    color: #000;
    font-weight: bold;
}

.nav-gallery {
    height: 95%;
    position: absolute;
    z-index: 999;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    width: 5%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.nav-gallery:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#nav-right {
    right: 0;
    top: 0;
}

#nav-left {
    left: 0;
    top: 0;
}

.readonly[readonly] {
    background-color: #fff !important;
}

.mobile-summary-detail {
    text-align: left;
    background-color: #e1e1e1;
    border:1px solid #ddd;
    margin-bottom: 1em;
}

.mobile-summary-detail .summary-detail {
    font-family: Georgia, serif;
}

.mobile-summary-detail .summary-row {
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}

.mobile-summary-detail .summary-room-type .room-type-title {
    font-weight: 400;
}

#language-modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#language-modal .language-selection-container {
    background-color: #fff;
    padding: 1em;
    border-radius: 3px;
}

#language-modal .flag-container .flag {
    width: 48px;
}

#language-modal .flag-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

#language-modal .flag-container li {
    display: inline;
    padding: 0 1em;
}

.gallery-stage {
    overflow: hidden;
    margin-top: 2em;
}

.gallery-stage .gallery-item {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .gallery-stage .gallery-item {
        height: 200px;
    }
}

.about-image {
    height: 260px;
    margin-bottom: 1em;
}

.eat-thai-image {
    height: 500px;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    margin-bottom: 2em;
}

.btn.primary-btn {
    font-family: 'Georgia', serif;
}

.footer-black-link {
    color: #000 !important;
}

.footer-black-link:hover {
    text-decoration: underline !important;
}

.divider {
    border-bottom: 1px solid #999999;
    margin-bottom: 2em;
}

.mt-0 {
    margin-top: 0;
}

.video-popup {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.video-popup .yt-video {
    height: 450px;    
}

.video-popup .content {
    background-color: #fff;
    padding: 1rem;
    width: 50%;
}

.video-player {
    height: 800px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .video-popup .yt-video {
        height: 350px;    
    }

    .video-player {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .video-popup .content {
        width: 90%;
        height: 300px;
    }

    .video-popup .yt-video {
        height: 250px;    
    }

    .video-player {
        height: 250px;
    }

}