.inner-content {
    position: relative; /* if position is not set, the script will set it to 'relative'. */
    z-index: 2; /* if z-index is not set, the script will set it to '2'. */
    max-width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    height: 100vh;
}
.inner-content-rooms {
    height: 10vh;
}

.inner-content .quote,
.inner-content .title {
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.inner-content .title {
    font-size: 16px;
}

.inner-content .content-header {
    letter-spacing: 10px;
}
.inner-content h1 {
    font-size: 2.5em;
    margin: 0;
}
.inner-content img {
    text-align: center;
    width: 280px;
}

@media only screen and (max-width: 767px) {
    .inner {
        margin: 0px -15px 0px -15px;
        padding-bottom: 100px;
    }
}
