/* I wanted to center my loader */
      
      html{
        background-attachment: fixed;
        font-family: 'Prompt',sans-serif;
        
      }
      
      h1{
        font-family: 'Prompt',sans-serif;
      }

      #cycle-loader {
        height:32px;
        left:50%;
        margin:-8px 0 0 -8px;
        position:absolute;
        top:50%;
        width:32px;
        z-index:999;
      }
      
      /*I want to avoid jumpiness as the JS loads, so I initially hide my cycle*/
      #maximage {
        display:none;/* Only use this if you fade it in again after the images load */
        position:fixed !important;
      }
      
      /*Set my gradient above all images*/
      #gradient {
        left:0;
        height:100%;
        position:absolute;
        top:0;
        width:100%;
        z-index:999;
      }
      
      /*Set my logo in bottom left*/
      #logo {
        bottom:30px;
        height:auto;
        left:30px;
        position:absolute;
        width:34%;
        z-index:1000;
      }
      #logo img {
        width:100%;
      }
      
      a {text-decoration:none;}
      a img{
        width: 100%;
      }
      a:hover {text-decoration:none;}
      
      .in-slide-content { 
        color:#333;
        float:right;
        font-family:'Helvetica Neue', helvetica;
        font-size:60px;
        font-weight:bold;
        right:0;
        margin:40px;
        padding:20px;
        position:absolute;
        top:0;
        width:700px;
        z-index:9999; /* Show above .gradient */
        text-shadow: 0 1px 0 #fff;
        -webkit-font-smoothing:antialiased;
      }
      .light-text {color:#ddd;text-shadow: 0 1px 0 #666;}
      .smaller-text {font-size:30px;}
      .youtube-video, video {
        left:0;
        position:absolute;
        top:0;
      }

      .arrow_left{
            position: absolute;
            top: 50%;
            width: 20px;
      }
      .arrow_right{
            top: 50%;
            position: absolute;
            right: 0;
            width: 20px;
      }

      .logo{
            background: no-repeat center center;
            height: 100px;
            width: 100px;
            margin: auto
      }
      .logo img.main{
            top: 20px;
            width: 100px;
            height: 100px;
            position: absolute;
      }

      .top_menu{
            padding-right: 10px;
            width:100%;
            text-align: right;
            /*transition: all .3s ease-out;*/
            font-weight: 600;
      }
      .inner-top{
            display: inline-block;
            padding: 5px;
            font-size: 17px;
      }
      .inner-top img{
            width: 20px;
      }

      .inner-top a{
            color: white;
            /*text-shadow: 0 0 5px black;*/
      }
      

      .under_menu{
            padding-left: 10px;
            width:100%;
            text-align: left;
            font-weight: 600;
      }

      .dropdown-content a:hover{
            color: green;
      }

      .inner-bot{
            display: inline-block;
            padding: 5px;
            font-size: 17px;
      }
      .inner-bot .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 12px 16px;
          z-index: 3;
      }


      .inner-bot .dropdown-content a{
            color: black;
            text-shadow:inherit;
      }

      .inner-bot a{
            color: white;
            /*text-shadow: 0 0 5px black;*/
            /*-webkit-text-stroke: 0.5px #6c6c6c;*/
      }/*
      .inner-bot:hover {
          background-color: black;
      }*/
      .inner-bot:hover .dropdown-content {
          display: block;
      }

      .inner-bot .dropdown-content a:hover {background-color: #f1f1f1}

      .inner-bot .dropdown:hover .dropdown-content {
          display: block;
      }

      .inner-bot .dropdown:hover .dropbtn {
          background-color: #3e8e41;
      }

      .bookicon{
        position: fixed;
        z-index: 10;
        background-color: white;
            /*position: absolute;*/
            top: 60%;
            -moz-border-radius:    10px;
           -webkit-border-radius: 10px;
           border-radius:         10px;
           left: -40px;
           transform: rotate(-90deg);
          width: 100px;
          text-align: center;
          height: 45px;
      }
      .bookicon .booktext{
            line-height: 50px;
            font-size: 15px;
      }

      .bg-text {
            padding-bottom: 20px;
            width: 470px;
            top: 235px;
            right: 70px;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
      }

      .bg-text .head{
        font-family: 'Charter';
        padding-top: 20px;
        text-align: center;
        font-size: 24px;
        letter-spacing: -2px;
        font-style: italic;
      }

      .bg-text .head span{
        letter-spacing: 1px;
      }
      .bg-text .title{
            text-align: left;
            font-size: 28px;
            text-align: center;
      }
      .bg-text .content{
        text-align: left;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        padding: 0 10px;
      }

      .mn-text {
            width: 300px;
            position: absolute;
            top: 480px;
            right: 70px;
            text-align: center;
            height: 70px;
            background: rgba(204, 204, 204, 0.5);
      }

      .mn-text .content{
        text-align: left;
            font-size: 25px;
      }

      .follow {
            position: absolute;
            bottom: 0px;
            right: 15px;
      }
      .follow .inner-foll{
            display: inline-block;
      }

      .ft-text{
            color: white;
            font-size: 15px;
      }

      .detail{
            top: 100%;
            background-color: #e0e0e0;
            width: 100%;
            /*height: 100%;*/
            position: absolute;
            margin-bottom: 175px;
      }

      .detail .padding{
            padding-left: 30px;
            padding-right: 30px;
      }

      .index-pic{
        text-align: center;
        /*margin: 50px;*/
        padding: 10px;
      }

      .index-pic  img{
        height: 400px;
        width: 100%
      }

      .index-pic-third{
        text-align: center;
        padding: 20px;
      }

      .index-pic-third img{
        /*height: 200px;*/
        width: 100%;
      }

      .text-para{
        padding: 50px;
        font-size: 18px;
      }

      .detail .title{
        font-size: 37px;
        text-align: left;
        margin-top: 1%;
        text-align: center;
        color: #008f00;
      }

      .detail .init-para{
        text-align: center;
        font-size: 18px;
        font-family: 'Charter';
        font-style: italic;
      }

      .detail .para{
            padding: 20px;
            text-align: center;
      }
    
/*      .footer{
            bottom: 0;
            position: absolute;
            background-color: black;
            height: 65px;
            width: 100%;
            text-align: center;
      }*/

/*      .detail .follow {
            position: absolute;
            bottom: 60px;
            right: 15px;
      }*/
      .detail .follow .inner-foll{
            display: inline-block;
      }

      .custom{
        font-family: 'Prompt',sans-serif;
        right: 40px;
        top: 45px;
      }
      .custom-left{
        font-family: 'Prompt',sans-serif;
        left: 30px;
        top: 45px;
      }

      .location{
        width: 100%;
            position: absolute;
            margin-top: 1%;
            margin-bottom: -205px;
      }

      .location .title{
        text-align: left;
          font-size: 30px;
          font-weight: bold;
          margin-left: 3%;
      }

      .location .content{
        text-align: left;
            margin-left: 3%;
            font-size: 20px;
      }

      .location  .map{
            height: 350px;
            width: 500px;
            margin: 0 auto;
            /*margin-top: 15%;*/
      }

      .footer{
          /*bottom: -205px;*/
          position: absolute;
          background-color: #232222;
          /*height: 205px;*/
          width: 100%;
          text-align: center;
          padding-bottom: 20px;
          z-index: 15;
      }

      .footer h1{
            color: green;
            font-size: 30px;
            padding-top: 15px
      }


      .follow {
            position: absolute;
            bottom: 0;
            right: 15px;
      }

      .follow .inner-foll{
            display: inline-block;
      }

      .contact{
            width: 100%;
            /*height: 500px;*/
            position: absolute;
            margin-bottom: 65px;
      }

      .contact .inner{
            padding: 20px;
            margin: 20px;
            background-color: #b3b3b3;
            border-radius: 10px;
            margin-bottom: 80px;
      }
      .contact .inner .title{
        text-align: left;
            font-size: 30px;
            font-weight: bold;
      }
      .contact .inner .content{
          text-align: left;
          font-size: 17px;
      }
      .contact .inner .input{
            padding: 10px;
      }
      .contact .inner .input .text{
            text-align: right;
            clear: both;
            float:left;
            margin-right:15px;
      }
      .contact .inner .input .option{
            width: 20%
      }
      .contact .inner .input .firstname{
            width: 40%
      }
      .contact .inner .input .sername{
            width: 40%
      }

      .booknow{
            width: 100%;
            position: absolute;
      }

      .booknow .inner{
            padding: 20px;
            margin: 40px;
            background-color: #b3b3b37a;
            border-radius: 10px;
      }

      .booknow .inner .padding{
        text-align: left;
          padding-left: 20px;
          padding-right: 60px;
      }
      .booknow .inner .submitbt{
              width: 100%;
              text-align: center;
      }
      .booknow .inner .title{
            text-align: center;
            padding-left: 20px;
            font-size: 30px;
            font-weight: bold;
      }
      .booknow .inner .inputform{
            margin: 2% 5%;
            background-color: #ffffff52;
            border-radius: 20px;
      }
      .booknow .inner .inputform .form{
            padding: 20px;
      }
      .booknow .inner .inputform .form .textdiv{
            margin-top: 10px;
            height: 30px;
            width: 130px;
            /*background-color: black;*/
            /*border: 1px solid black;*/
            text-align: center;
      }
      .booknow .inner .inputform .form .textdiv p{
            color: black;
      }
      .booknow .inner .inputform .form .detail-inner{
            margin: 20px;
      }
      .booknow .inner .inputform .form .detail-inner .content{
            text-align: left;
            display: inline-block;
            width: 25%;
      }

      .facilities{
            width: 100%;
            /*height: 500px;*/
            margin-bottom: 100px;
            position: absolute;
      }
      
      .facilities .inner{
            padding: 20px 10%;
            margin: 40px;
            background-color: #b3b3b37a;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 100px;
      }
      
      .facilities .inner .picture{
            padding: 20px;
      }
      .facilities .inner .picture a img{
            width: 100%;
      }
      .facilities .inner .picture a p{
            color: black;
      }
      .facilities .inner img{
            width: 100%
      }

      .attraction{
            width: 100%;
            /*height: 500px;*/
            margin-bottom: 100px;
            position: absolute;
      }

      .attraction .padding{
            padding-left: 30px;
            padding-right: 30px;
      }
      
      .attraction .title{
        font-size: 40px;
        text-align: left;
        margin-top: 1%;
        text-align: center;
        color: #008f00;
      }

      .attraction .init-para{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
      }

      .attraction .inner{
            padding: 20px 10%;
            margin: 40px;
            background-color: #b3b3b37a;
            border-radius: 10px;
            text-align: center;
      }

      .gallery{
            width: 100%;
            /*height: 500px;*/
            margin-bottom: 100px;
            position: absolute;
      }
      .gallery .inner{
            padding: 20px 0;
            margin: 40px;
            background-color: #b3b3b37a;
            border-radius: 10px;
            text-align: center;
      }
      .gallery .inner .title{
            font-size: 30px;
            text-align: left;
            margin-left: 10%;
      }
      .gallery .inner .grid-pic{
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            display: inline-block;
      }
      .gallery .inner .pic{
            padding: 10px;
            display: inline-block;
      }

      .gallery .inner .pic img{
            height: 150px;      
      }
      .gallery .inner .video{
            padding: 10px;
            display: inline-block;
      }

      .gallery .inner .video img{
            height: 150px;      
      }

      .room-delux{
        background-color: #ffffff69;
        height: auto;
      }

      .room-delux .padder{
        padding: 40px;
        padding-left: 60px;
        padding-bottom: 100px;
      }

      .room-delux .padder .picture{
        /*text-align: center;*/
        padding: 20px;
        /*padding-left: 60px;*/
      }

      .room-delux .padder .title{
        /*text-align: ;*/
        padding-bottom: 25px;
        font-size: 30px;
        font-weight: bold;
      }
      .room-delux .padder .content{
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
      }
      .title-2{
        text-align: left;
        font-size: 25px;
        /*font-weight: bold;*/
      }
      li{
        text-align: left;
        font-size: 17px;
      }

      .promotion{
            width: 100%;
            position: absolute;
      }

      .promotion .inner{
            padding: 20px;
            margin: 70px 70px;
            background-color: #b3b3b37a;
            border-radius: 10px;
      }
      .promotion .inner .title{
        font-family: 'Prompt',sans-serif;
            font-size: 30px;
            font-weight: bold;
            color: red;
      }
      .promotion .inner .detail-1{
            font-size: 17px;
            /*font-weight: bold;*/
      }

      .logo a.icon{
        width: 100px;
        height: 100px;
        display: none;
      }

      hr{
            display: block;
            unicode-bidi: isolate;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
            -webkit-margin-start: auto;
            -webkit-margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
        }

        .w3-black, .w3-hover-black:hover {
                color: #fff!important;
                background-color: #0000005c!important;
            }
        .highlight{
          text-align: center;
        }
        .button{
          background-color: #f44336;
          color: white;
          padding: 14px 25px;
          text-align: center; 
          text-decoration: none;
          display: inline-block;
          border-radius: 10px;
        }

        .button:hover, .button:active {
            background-color: red;
        }

        .room-delux .padder .picture p{
/*            text-align: center;
*/            font-size: 17px;
        }

        .room-delux .padder .picture .content-dinng{
            text-align: left;
            
        }

      @media only screen and (max-width: 720px) {
            .top_menu,.under_menu{
              /*display: none;*/
                /*opacity: 0;*/
              /*animation: fadeinout 4s linear;*/
              visibility: hidden;
              position: absolute;
            }
            .logo{
              /*margin: 20px 0;*/
              width: 100%;
              height: 110px;
              background-color: #f0ffff66;
            }
            .logo img.main{
              top: 25px;
              left: 35px;
              height: 70px;
              width: 70px;
            }
            .logo a.icon{
              top: 25px;
              right: 10px;
              position: absolute;
              display: block;
            }
            .logo a.icon img{
              width: 70px;
            }
            hr{
              display: none;
            }

            .room-delux .padder .picture {
              text-align: center;
               padding: inherit; 
               padding-left: inherit; 
               margin-bottom: 50px;
            }

            .booknow .inner{
                  padding: 20px;
                  margin: inherit;
                  background-color: #b3b3b37a;
                  border-radius: 10px;
            }

            .inner-bot .dropdown-content a{
                color: black;
            }

            .location  .map ,.location  .map .mapouter,.location  .map .mapouter .gmap_canvas{
                    width: inherit;
                    /*padding: 10%*/
              }

              .bg-text .head{
                font-size: 15px;
              }
              .detail .title{
                font-size: 30px;
              }

              .index-pic  img{
                height: 200px;
                width: 100%
              }
              .text-para {
                padding: 10px 20px;
                font-size: 17px;
            }
        }

      @media only screen and (max-width: 720px) {
            .top_menu.responsive,
            .under_menu.responsive{
              /*display: block;*/
              /*opacity: 1;*/
              visibility: visible;
              position: inherit;
            }
            .top_menu.responsive {
              background-color: gray;
            }
            .top_menu.responsive .inner-top{
              text-align: center; 
              width: 100%;
            }
            .top_menu.responsive .inner-top a{
              color: white;
            }
            .top_menu.responsive .inner-top:hover{
              background-color: darkgrey;
            }
            .under_menu.responsive {
              background-color: #065352;
            }
            .under_menu.responsive .inner-bot{
              text-align: center; 
              width: 100%;

            }
            .under_menu.responsive .inner-bot a {
              color: white;
            }
            .under_menu.responsive .inner-bot .dropdown-content a{
            
              color:black;
            }

            .location{
              margin-top: 50px;
            }
            
        }
        .is-visible {
            display: block;
          }

          .is-open {
            margin-top: 15px;
            opacity: 1;
          }

        @-webkit-keyframes fadeinout {
          50% { opacity: 1; }
        }

        @keyframes fadeinout {
          50% { opacity: 1; }
        }

        @font-face {
            font-family: SukhumvitSet;
            src: url("fonts/SukhumvitSet.ttf") format("truetype");

        }

        @font-face {
          font-family: 'Charter';
          src: url('src/Charter.ttf') format('truetype');  
          
        }
        
h1 p{
  font-size: 17px;
  font-weight: 200;
}