
header,
section,
footer {
    padding: 20px;
}

header,
footer {
    background: #111;
    color: #666;
    position: relative;
}

header h1 {
    margin: 0;
    padding: 0;
}

header h1 a {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 60px;
    font-weight: 200;
    text-decoration: none;
}

header p {
    font-size: 23px;
}

#header-links {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 20px;
    top: 30px;
    text-align: right;
}

#header-links a {
    color: #888;
}

#header-links a:hover {
    color: #06c;
}

h2 {
    color: #eee;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    line-height: 1.1
}

p {
    margin: 20px 0 0 0;
}

p:first-child {
    margin-top: 0;
}

input {
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    background: #dde;
    border: 1px solid #aac;
}

input.time {
    width: 80px;
}

input.date {
    width: 90px;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

image {
    border: 0;
}

#examples article {
    padding-top: 100px;
    clear: both;
}

#examples article:first-child {
    padding-top: 0;
}

#examples .demo {
    width: 450px;
    float: left;
}

#examples .code {
    font-size: 12px;
    margin: 0 0 0 470px;
}

footer {
    font-size: 12px;
}

div.ui-datepicker { font-size: 11px; }

#alternateUiWidgetsExample .date { width: 120px; }

/**
 * Blackboard theme
 *
 * Adapted from Domenico Carbotta's TextMate theme of the same name
 *
 * @author Domenico Carbotta
 * @author Craig Campbell
 * @version 1.0.2
 */
pre {
    background: #0B1022;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    margin: 0;
    overflow-y: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

pre, code {
    font-family: Consolas, 'Monaco', courier, monospace;
}

pre .comment {
    color: #727272;
}

pre .constant {
    color: #D8FA3C;
}

pre .storage {
    color: #FBDE2D;
}

pre .string, pre .comment.docstring {
    color: #61CE3C;
}

pre .string.regexp, pre .support.tag.script, pre .support.tag.style {
    color: #fff;
}

pre .keyword, pre .selector {
    color: #FBDE2D;
}

pre .inherited-class {
    font-style: italic;
}

pre .entity {
    color: #FF6400;
}

pre .support, *[data-language="c"] .function.call {
    color: #8DA6CE;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #FF6400;
}


h1 p{
    font-size: 17px;
}