body {
  background: #fff;
  font-family: "Rubik", arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  /*line-height: 1.8;*/
  color: #4D4D4D;
      line-height: 28px;
    letter-spacing: 2px;
}
p{
   font-family: FarnhamDisplayLightRegular;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  color: #000;
  font-family: Brown-Regular;
}
body {
  background: #fff;
  font-family: "Rubik", arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  /*line-height: 1.8;*/
  color: #4D4D4D;
      line-height: 28px;
    letter-spacing: 2px;
}
p{
   font-family: FarnhamDisplayLightRegular;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  color: #000;
  font-family: Brown-Regular;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5 {
  color: #000;
  /*font-family: "Playfair Display", times, serif;*/
  /*font-family: "Rubik", arial, sans-serif;*/
  font-family: Brown-Regular;
    color: #000 !important;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  color: #fff !important;
}

header .navbar {
  height: 110px;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  transition: .3s all ease;
}

@media (max-width: 991.98px) {
  header .navbar {
    /*background: rgba(0, 0, 0, 0.4) !important;*/
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  outline: none !important;
}

@media (max-width: 991.98px) {
  header .navbar .nav-link {
    padding: .5rem .5rem;
  }
}

header .navbar .nav-link:hover {
  color: #fff !important;
}

header .navbar .nav-link.active {
  color: #fff;
}

header .navbar .cta {
  float: right;
}

header .navbar .cta > a {
  margin-top: -12px;
  position: relative;
}

@media (max-width: 767.98px) {
  header .navbar .cta > a {
    margin-top: inherit;
  }
}

header .navbar .cta > a span {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
}

header .navbar .dropdown.show > a {
  color: #fff !important;
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

@media (max-width: 1199.98px) {
  header .navbar .dropdown-menu:before {
    display: none;
  }
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #959595;
  color: #fff;
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #959595;
  color: #fff;
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

header .navbar.navbar-light .nav-link {
  color: #fff;
}

header .navbar.navbar-light .nav-link.active {
  color: #fff;
}

.site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;bg-light
}

.site-hero.overlay:before {
  content: "";
  /*background: rgba(0, 0, 0, 0.5);*/
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero.overlay h1, .site-hero.overlay p {
  color: #fff;
}

.site-hero.overlay h1 {
  font-size: 60px;
}

@media (max-width: 1199.98px) {
  .site-hero.overlay h1 {
    font-size: 40px;
  }
}

.site-hero.overlay p {
  font-size: 30px;
}

@media (max-width: 1199.98px) {
  .site-hero.overlay p {
    font-size: 20px;
  }
}

.site-hero .site-hero-inner {
  /*min-height: 750px;
  height: 100vh;*/
}

.room {
  background: #fff;
  margin-bottom: 30px;
}

.room figure {
  position: relative;
  float: left;
  overflow: hidden;
}

.room figure:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  content: "";
}

.room figure .overlap-text {
  z-index: 99;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.room .media-body {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.room .media-body .room-specs {
  margin: 0;
  padding: 0;
}

.room .media-body .room-specs li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 20px 20px 0;
}

.room .media-body .room-specs li span {
  font-size: 30px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.room-thumbnail-absolute {
  position: relative;
}

.room-thumbnail-absolute .room {
  position: relative;
}

.room-thumbnail-absolute .room.bg {
  position: relative;
  height: 47.8%;
  width: 100%;
  background-size: cover;
}

.room-thumbnail-absolute .room.bg:last-child {
  margin-bottom: 0;
}

.room-thumbnail-absolute .room .pricing-from {
  margin-left: 10px;
  padding: 5px 10px;
  background: #000;
  border-radius: 4px;
  font-size: 13px;
}

.room-thumbnail-absolute .room:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  content: "";
}

.room-thumbnail-absolute .room .overlap-text {
  bottom: 20px;
  left: 20px;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.room-thumbnail-absolute .room .overlap-text span {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 7em 0;
  background-color: white;
}

#search-form .search-input {
  width: calc(100% - 160px);
  height: 55px;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

#search-form .search-input:hover, #search-form .search-input:active, #search-form .search-input:focus {
  border: none;
}

#search-form button {
  height: 55px;
  width: 160px;
  border-radius: 0;
}

.img-bg {
  background-size: cover;
}

@media (max-width: 767.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

.feature-destination, .slider-wrap {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: 50px;
}

.feature-destination .img-bg, .slider-wrap .img-bg {
  margin-bottom: 30px;
  display: block;
  height: 300px;
  position: relative;
  top: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.feature-destination .img-bg:before, .slider-wrap .img-bg:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .1;
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg .text, .slider-wrap .img-bg .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.feature-destination .img-bg .text .icon, .slider-wrap .img-bg .text .icon {
  color: #fff;
  font-size: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
}

.feature-destination .img-bg .text h2, .slider-wrap .img-bg .text h2 {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  top: 0px;
  position: relative;
}

.feature-destination .img-bg .text p, .slider-wrap .img-bg .text p {
  color: #fff;
  opacity: 0;
  top: 10px;
  visibility: hidden;
  font-size: 13px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg:hover, .feature-destination .img-bg:focus, .slider-wrap .img-bg:hover, .slider-wrap .img-bg:focus {
  top: -10px;
  -webkit-box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
}

.feature-destination .img-bg:hover .text .icon, .feature-destination .img-bg:focus .text .icon, .slider-wrap .img-bg:hover .text .icon, .slider-wrap .img-bg:focus .text .icon {
  top: -10px;
}

.feature-destination .img-bg:hover .text h2, .feature-destination .img-bg:focus .text h2, .slider-wrap .img-bg:hover .text h2, .slider-wrap .img-bg:focus .text h2 {
  top: -10px;
}

.feature-destination .img-bg:hover .text p, .feature-destination .img-bg:focus .text p, .slider-wrap .img-bg:hover .text p, .slider-wrap .img-bg:focus .text p {
  top: 0;
  opacity: .5;
  visibility: visible;
}

.feature-destination .img-bg:hover:before, .feature-destination .img-bg:focus:before, .slider-wrap .img-bg:hover:before, .slider-wrap .img-bg:focus:before {
  opacity: .4;
}

.slider-wrap {
  margin-top: 0;
}

.slider-wrap .img-bg:hover {
  top: 0;
}

.btn-play-wrap .btn-play {
  width: 70px;
  height: 70px;
  line-height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.btn-play-wrap .btn-play span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  -webkit-transform: translate(-30%, -50%);
  -ms-transform: translate(-30%, -50%);
  transform: translate(-30%, -50%);
  color: #fff;
}

.section-cover {
  background-size: cover;
  position: relative;
  background-position: top left;
}

.section-cover, .section-cover .intro {
  height: 500px;
}

.section-cover p {
  color: #fff;
}

.section-cover h2 {
  color: #fff;
  font-size: 50px;
}

.top-destination .place {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.top-destination .place:hover, .top-destination .place:focus {
  opacity: .7;
}

.top-destination .place img {
  max-width: 100%;
  margin-bottom: 20px;
}

.top-destination .place h2 {
  font-size: 18px;
  line-height: 1.5;
}

.top-destination .place p {
  font-size: 13px;
  color: #ccc;
}

.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
  outline: none;
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea.form-control {
  height: inherit;
}

.btn {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  padding: 12px 30px;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.btn.btn-black {
  background: #000;
  color: #fff;
}

.btn.btn-primary {
  background-color: #fff;
  border-color: #000000;
  color: #000;
  border-width: 2px;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  border-color:  #000000;
  background:  #000000;
  color: #fff
}

.btn.btn-sm {
  font-size: 12px;
}

.btn.btn-outline-primary {
  border-width: 2px;
  color: #000000;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
  color: #fff;
}

.btn.btn-outline-white {
  border-width: 2px;
  border-color: #fff;
  color: #fff;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
  background: #fff;
  color: #000;
  border-width: 2px;
}

.btn:hover {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.custom-icon {
  font-size: 70px;
  color: #b99365;
}

.no-nav .owl-nav {
  display: none;
}

.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #b99365;
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider .slider-item.dark .child-name {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark h1 {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark p {
  color: #000;
}

.owl-carousel.home-slider.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.box {
  overflow: hidden;
  border-radius: 4px;
  display: block;
}

.box img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.box .box-body {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.box h2 {
  font-size: 18px;
  font-family: "Rubik", arial, sans-serif;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.box.hover:hover img, .box.hover:focus img {
  margin-top: -20px;
}

.box.hover:hover .box-body, .box.hover:focus .box-body {
  background: #b99365;
  color: #fff;
  padding: 30px 20px;
  border-color: #b99365;
}

.box.hover:hover h2, .box.hover:focus h2 {
  color: #fff;
}

.breadcrumb-custom {
  background: none;
  padding: 0;
}

.breadcrumb-custom li a {
  color: #b99365;
}

.breadcrumb-custom li a:hover {
  color: #fff;
}

.breadcrumb-custom li.active {
  color: #fff;
}

.breadcrumb-custom li.breadcrumb-item + .breadcrumb-item:before {
  content: "/";
  color: rgba(255, 255, 255, 0.3);
}

.pagination {
  float: none;
  display: inline-block;
}

.pagination li {
  display: inline-block;
}

.post-entry {
  margin-bottom: 30px;
}

.post-entry .body-text {
  padding: 30px;
  background: #fff;
}

.post-entry .body-text .category {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em;
  color: #ccc;
}

.post-entry .body-text .category:after {
  content: "";
  left: 0;
  width: 50px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
}

.children-info li {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #dee2e6;
}

.sidebar {
  padding-left: 5em;
}

@media (max-width: 991.98px) {
  .sidebar {
    padding-left: 15px;
  }
}

.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box .heading {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.tags {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.tags li {
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
  display: inline-block;
}

.tags li a {
  float: left;
  display: block;
  border-radius: 4px;
  padding: 2px 6px;
  color: gray;
  background: #f2f2f2;
}

.tags li a:hover {
  color: #fff;
  background: #b99365;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  border-radius: 7px;
  float: left;
  background: #fff;
}

.sidebar-box ul li {
  list-style: none;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories, .sidelink {
  padding: 0;
}

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
}

.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a, .sidelink li a {
  display: block;
}

.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}

.cover_1 {
  background-size: cover;
  background-position: center center;
  padding: 7em 0;
}

.cover_1 .sub-heading {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}

.cover_1 .heading {
  font-size: 50px;
  color: white;
  font-weight: 300;
}

.heading-wrap .heading {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: Brown-Light;
  color: #4D4D4D;
  font-size: 34px;
  text-align: center;
}

.heading-wrap .sub-heading {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #ccc;
  font-family: "Rubik", arial, sans-serif;
}

.stretch-section .video {
  display: block;
  position: relative;
  -webkit-box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
}

.media-feature {
  padding: 30px;
  -webkit-transition: .2s all ease-out;
  -o-transition: .2s all ease-out;
  transition: .2s all ease-out;
  background: #fff;
  z-index: 1;
  position: relative;
  border-bottom: 10px solid transparent;
  border-radius: 4px;
  font-size: 15px;
}

.media-feature .icon {
  font-size: 60px;
  color: #b99365;
}

.media-feature h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.media-feature:hover, .media-feature:focus {
  -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 2;
  border-bottom: 10px solid #b99365;
}

.media-custom {
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.media-custom .meta-post {
  color: #ced4da;
  font-size: 13px;
  text-transform: uppercase;
}

.media-custom > a {
  position: relative;
  overflow: hidden;
  display: block;
}

.media-custom .meta-chat {
  color: #ced4da;
}

.media-custom .meta-chat:hover {
  color: #6c757d;
}

.media-custom img {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.media-custom:focus, .media-custom:hover {
  top: -2px;
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
}

.media-custom:focus img, .media-custom:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.media-custom .media-body {
  padding: 30px;
}

.media-custom .media-body h3 {
  font-size: 20px;
}

.media-custom .media-body p:last-child {
  margin-bottom: 0;
}

#accordion .card {
  font-size: 15px;
  border-color: #dee2e6;
}

#accordion .card h5 a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #b99365;
  position: relative;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0;
}

#accordion .card h5 a .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

#accordion .card h5 a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card h5 a.collapsed {
  color: #000;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#accordion .card h5 a.collapsed .icon {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#accordion .card h5 a.collapsed:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card .card-body {
  padding-top: 15px;
}

.media-testimonial img {
  width: 100px;
  border-radius: 50%;
}

.media-testimonial blockquote p {
  font-size: 20px;
  color: #000;
  font-style: italic;
}

.list-unstyled.check li {
  position: relative;
  padding-left: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.list-unstyled.check li:before {
  color: #17a2b8;
  left: 0;
  font-family: "Ionicons";
  content: "\f122";
  position: absolute;
}

#modalAppointment .modal-content {
  border-radius: 0;
  border: none;
}

#modalAppointment .modal-body, #modalAppointment .modal-footer {
  padding: 40px;
}

.site-footer {
  padding: 5em 0;
  background: #f2f2f2;
  font-size: 16px;
}

.site-footer h3 {
  margin-bottom: 20px;
  font-family: "Rubik", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .2em;
  color: #b3b3b3;
  text-transform: uppercase;
}

.site-footer .list-unstyled li {
  margin-bottom: 15px;
}

.site-footer .list-unstyled li h3 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Rubik", arial, sans-serif;
}

.site-footer p {
  color: #000;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer a {
  color: #000;
}

.site-footer a:hover {
  opacity: .4;
}

.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}

.site-footer hr {
  width: 100%;
}

.subscribe .form-group {
  position: relative;
}

.subscribe input[type="email"] {
  padding-right: 40px;
}

.subscribe button {
  border: none;
  background: none;
  cursor: pointer;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.subscribe button span {
  font-size: 30px;
}

.search-form-wrap {
  margin-bottom: 5em;
  display: block;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group #s {
  padding-right: 50px;
  background: #f7f7f7;
  padding: 15px 15px;
  border: none;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}

.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.post-entry-sidebar ul li a {
  display: table;
}

.post-entry-sidebar ul li a img {
  width: 90px;
}

.post-entry-sidebar ul li a img, .post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}

.post-entry-sidebar ul li a .text h4 {
  font-size: 18px;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

.blog-entry-footer .post-meta {
  color: gray;
  font-size: 15px;
}

.border-t {
  border-top: 1px solid #f8f9fa;
}

.copyright {
  font-size: 14px;
}

.element-animate {
  opacity: 0;
  visibility: hidden;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

.fullscreen-bg {
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.activate-nav{
  display: none;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    /*background: url('../img/videoframe.jpg') center center / cover no-repeat;*/
  }

  .fullscreen-bg__video {
    /*display: none;*/
    /*width: 500%*/
  }
}

.logo{
  margin: 0 auto;
          position: absolute;
    height: 120px;
    top: -40px;
    left: 0;
    right: 0;
    transition: .3s all ease;
}

.logo2 {
  height: 80px !important;
}
.logo3 {
  height: 80px !important;
  top: -40px !important;
}

.navbar2 {
    padding-top: 0;
    padding-bottom: 0;
    background: #fff !important;
}

/*header .navbar .nav-link.active*/
.active2{
  color: #000 !important;
}

.nav-link2{
  color: rgba(0, 0, 0, 0.38) !important;
}
.logow{
  content: url("../images/logo2.jpg") !important;
}

.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.pl-lg-5, .px-lg-5{
  padding-left: inherit !important;
}

.ml-auto, .mx-auto{
  margin-left: inherit !important;
}

.container {
    position:relative;
}

#trigger {
/*    color:#333;
    display:block;*/
    float:left;
/*    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;*/
    padding:5px 10px;
    text-decoration:none;
    /*border:1px solid #CCC;*/
    margin:20px;
    height: 50px;
    width: 50px;
    /*border-radius:3px;*/
    background-image: url("../images/menu3.png");
    background-size: contain;
}

#trigger:hover{
  color: inherit !important;
  background-color: inherit !important;
  filter: invert(100%);
}

#drop {
  transition: .3s all ease;
    display:none; /* Hide it first of all */
    background:#F8F8F8;
    border:1px solid #CCC;
    box-shadow:0 1px 3px rgba(0,0,0,0.15);
    position:absolute;
    top:75px;
    left:35px;
    width:200px;
    border-radius:3px;
}

#drop a {
  transition: .3s all ease;
    color:#333;
    display:block;
    padding:5px 10px;
    font-family:Helvetica, Arial, sans-serif;
    font-size:12px;
    text-decoration:none;
}

#drop a:hover {
    background:#333;
    color:#FFF;
}

.book{
  width: 250px;
  height: 50px;
  position: absolute;
  right: 20px;
  font-size: 30px;
  top: 25px;
}

@media (max-width: 767px) {
  .book{
    display: none;
  }
  .container1{
    margin-left: 20px;
    left: 0 !important;
  }

}

.book a{
  color: #fff;
  font-family: Brown-Regular;
  font-size: 29px;
  letter-spacing: 1.45px;
}

.a2{
  color: #000 !important;
}

.container1 {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: -20px;
    left: -50px;
}

.container2 {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 40px;
    left: -50px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(0px, 6px);
    background-color: #000;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(0px, -8px);
    background-color: #000;
}

.bar1-new, .bar2-new, .bar3-new{
  background-color: #000 !important;
}

@font-face{
  font-family: Brown-Regular;
  src: url(../fonts/Brown-Regular.otf) format("opentype");;
}

@font-face{
  font-family: Brown-Light;
  src: url(../fonts/Brown-Light.otf) format("opentype");;
}

@font-face{
  font-family: FarnhamDisplayLightRegular;
  src: url(../fonts/FarnhamDisplayLightRegular.otf) format("opentype");;
}

.mb-5, .my-5{
  font-family: FarnhamDisplayLightRegular;
  color: #4D4D4D;
  text-align: left;
  font-size: 14px;
}

.mb-3 a{
  font-family: Brown-Light;
  font-weight: 200;
}

.mt-123{
    font-family: FarnhamDisplayLightRegular;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
}

.logox{
  margin: 0 auto;
    position: absolute;
    height: 120px;
    top: 10px;
    left: 0;
    right: 0;
    transition: .3s all ease;
}

.contact{
    height: 70vh; */
    background-color: aqua;
    width: 100%;
    float: left;
    position: absolute;
    display: none;
    height: 100vh;
    left: 0px;
    display: block;
}

.contact .left-side{
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .left-side .top{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.contact .left-side .bot{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 100%;
    position: absolute;
    /* top: 0px; */
    left: 0px;
    bottom: 0px;

    background-color: white;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    width: 100%;
    flex: 1;
    cursor: pointer;
  }

.contact .left-side .bot .middle{
    margin-left: auto;
    color: #fff;
    letter-spacing: 1.04px;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    padding: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 20px;
}

.contact .left-side .bot .middle a{
    color: #484848;
    
}

.contact .right-side{
    right: 0px;
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;

    background-color: white;
    border-left: solid 1px white;
    padding: 3%;
    overflow-y: auto;

    
}

@media (max-width: 767px) {
  .contact .right-side{
    right: 0px;
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;

    background-color: white;
    border-left: solid 1px white;
    padding: 3%;
  }

}



.contact .right-side .text{
    color: #3b3b3b;
    text-align: center;
    flex-shrink: 0;
}

.contact .right-side .text h3,
.contact .right-side .text h2,
.contact .right-side .text h1,
.contact .right-side .text p{
    color: #3f3f3f !important;
}

.scrolling{
    position: inherit;
    top: 40vh;
}
.about-us{
  
}
.about-us .first{
    height: 60vh;
    background-color: transparent;
    position: relative;
    padding: 1px;
    z-index: 1;
    margin-top: 20vh;
}
.about-us .first .text{
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.about-us .second{
  height: 60vh;
    background-color: transparent;
    position: relative;
    padding: 1px;
    z-index: 1;
}
.about-us .second .text{
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 18px;
}
.about-us .second .text p{
    font-size: 18px;
}
.about-us .third{
  height: 60vh;
    background-color: transparent;
    position: relative;
    padding: 1px;
    z-index: 1;
    margin-bottom: 20vh;
}
.about-us .third .text{
    font-size: 18px;
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.about-us .third .text p{
    font-size: 18px;
}
.about-us .about{
  background-image: url(/images/Hotel/IMG_3315-Edit.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}
.about-us .about .text{
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.about-us .about .text h3, .about-us .about .text p{
    color: white;
    font-size: 25px;
}

.scrolling{
  padding-top: 80px;
}
#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.w3-bar-item{
  margin-left: 5%;
  font-size: 28px;
}

.bg-light{
  background-color: inherit !important; 
}

.sleft{
  text-align: left;
  font-weight: 600;
}

.w3-col.s6.pad{
padding : 15px;
}
.w3-col.s12.pad{
padding : 15px;
}

.fullwidth{
  width: 100%
}

@media (max-width: 767px) {
  .contact .left-side{
    width: 100%
  }
  .contact .right-side{
    width: 100%;
    margin-top: 176%;
    position: initial;
  }
  .site-hero.overlay{
    /*height: 360vh !important;*/
  }
  .about-us .second {
    height: 100vh;
  }
  .about-us .second .text{
    padding-right: 5%;
    padding-left: 5%;
  
  }
  .about-us .third .{
    height: 100vh;
  }
  .about-us .third .text{
    padding-right: 5%;
    padding-left: 5%;
  
  }
  .about-us .about .{
    height: 100vh;
  }
  .about-us .about .text{
    padding-right: 5%;
    padding-left: 5%;
  }
  .topping{
    height: 170px !important;
  }

}

@media (max-width: 991px) {
  .rooms-page ul.rooms-links .room-link {
    width: 16%;
  }

  .room-benefits-section{
    height: 380px !important;
    padding-left: 0;
  }

  .tolinav{
    width: 70px !important;
  }
}

.content-container{
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
}
.page-content{
  webkit-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  -o-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  -ms-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  width: 100%;
  background-color: white;
  overflow: hidden;
  display: inline-block;
  pointer-events: all;
}
.rooms-links{
  width: 100vw!important;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: initial;
  margin: 20px 0;
  /* padding: 10px; */
  width: 100% !important;
  height: initial;
  font-size: 14px;
  transition: .3s all ease;
}
.room-link{
  display: inline-block;
  margin: 0 2% !important;
  position: relative;
  width: 200px ;
  text-align: center;
   line-height: 10px; 
   font-size: 15px;
    font-weight: bold;
}
.room-link .concept {
  display: inline-block;
  margin: 0 2% !important;
  position: relative;
  width: 180px !important;
  text-align: center;
   line-height: 10px; 
}
.room-benefits-section{
  padding-left: 0;
    width: 100%;
    background-color: #F9EBD7;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-top: -60px;
    height: 200px;
}
.primary-container{
  margin: 0 auto;
  max-width: 1205px;
  position: relative;
}
.room-benefits{
  list-style: none;
  float: left;
  text-align: center;
  width: 100%;
  padding-left: 0;
}
.room-benefit{
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
}

h3{
    font-family: Brown-Regular;
    color: #4D4D4D;
}

.room-body-text p{
  font-family: FarnhamDisplayLightRegular;
}

.room-feature-content ul{
  list-style: none;
}

.room-feature-content .clearfix{
  margin: 15px 0px;
}

.room-feature-content .clearfix img{
  float: left;
  margin-right: 5px;
}
.room-feature-content .clearfix .feature-content{
  float: left;
}

.room-feature-content .clearfix .feature-content {
  float: left;
}
.room-feature-content .clearfix .feature-content .feature-title{
    margin: 0;
    padding: 0;
    font-family: BrownRegular;
    font-size: 14px;
    line-height: 20px;
    color: #353535;
}
.room-feature-content .clearfix .feature-content .feature-description{
    margin: 0;
    padding: 0;
    font-family: FarnhamDisplayRegularItalic;
    font-size: 14px;
    line-height: 20px;
    color: #353535;
}
/*
.padder a::after{
      content: "";
    background-image: url(/images/slider-next.png);
    display: block;
    width: 37px;
    height: 13px;
    position: absolute;
    top: 1px;
    right: -30px;
}*/

.tonav{
  position: fixed;
  top: 85px;
  background-color: white;
  height: 70px;
  z-index: 9999;
}
.tolinav{
  display: inline-block;
  margin: 0 2% !important;
  position: relative;
  width: 200px;
  text-align: center;
  line-height: 10px;
  font-size: 15px;
  font-weight: bold;
  top: 20px;
}
h3 .from-price {
    font-family: FarnhamDisplayRegularItalic;
    font-size: 14px;
    font-style: italic;
}
h3 .from-price-price {
    font-family: BrownRegular;
    font-size: 18px;
}

.ribbon{
  display: table;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 10px;
  background-color: gray;
  color: black;
  width: 100px;
  height: 100px;
}

.ribbon .d1{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 15px;
      font-family: Brown-Light;
}
.ribbon .d2{
  margin: 0;
  font-size: 20px;
      font-family: Brown-Light;
}
.ribbon .d3{
  font-size: 15px;
  margin: 0;
      font-family: Brown-Light;
}

.inactive{
  opacity: 0.2;
}

.topping{
  width: 100%;
  height: 260px;
  filter: blur(5px);
}

.carousel-inner .carousel-item img{
  max-height: 600px;
}

.content-index{
  font-size: 14px;
    letter-spacing: 1px;
}

.site-hero > .container3{
    position: absolute;
    width: 700px;
    z-index: 2;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nob{
  list-style-type: none;
}
.normal-place{
  font-size: 14px !important;
  font-family: Brown-Light;
}

#backgroud{
  height: 100%;
}

.big-place{
  font-size: 20px !important;
  font-family: Brown-Light;
}

@media (max-width: 720px) {
  .site-hero {
    height: 180vh !important;
  }
  #text-content{
    /*margin-top: 500px;*/
    width: 100vw;
  }
  #backgroud{
    height: 180vh;
  }
  #ad{
    width: 100vw;
  }
}

.arrow_left{
      position: absolute;
      top: 50%;
      width: 20px;
      z-index: 3;
}
.arrow_right{
      top: 50%;
      position: absolute;
      right: 0;
      width: 20px;
      z-index: 3;
}

.search-container{
      width: 100%;
    background-color: #113B53;
    height: 100px;
    text-align: center;
    transition: height 0.5s ease-out;
    position: absolute;
    z-index: 100;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.open {
    height: calc(100vh - 80px) !important;
}

.filters {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    display: none;
    background: transparent;
}
.panel {
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    max-width: 1000px;
}

.guide-filters {
    top: auto;
    transform: none;
        margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
}
.guide-filters .guide-filter label {
    color: #5DACD2;
    font-size: 36px;
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.guide-filters .guide-filter select {
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    font-family: 'BrownLight';
    outline: none;
    border-bottom: solid 1px #fff;
    padding: 5px 20px 5px 0;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/dropdown-arrow.png);
    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.gg{
  border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    font-family: 'BrownLight';
    outline: none;
    border-bottom: solid 1px #fff;
    padding: 5px 20px 5px 0;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/dropdown-arrow.png);
    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.gg{
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    font-family: 'BrownLight';
    outline: none;
    border-bottom: solid 1px #fff;
    padding: 5px 20px 5px 0;
    cursor: pointer;
    display: inline-block;
    background-color: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/dropdown-arrow.png);
    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5 {
  color: #000;
  /*font-family: "Playfair Display", times, serif;*/
  /*font-family: "Rubik", arial, sans-serif;*/
  font-family: Brown-Regular;
    color: #000 !important;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  color: #fff !important;
}

header .navbar {
  height: 110px;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  transition: .3s all ease;
}

@media (max-width: 991.98px) {
  header .navbar {
    /*background: rgba(0, 0, 0, 0.4) !important;*/
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  outline: none !important;
}

@media (max-width: 991.98px) {
  header .navbar .nav-link {
    padding: .5rem .5rem;
  }
}

header .navbar .nav-link:hover {
  color: #fff !important;
}

header .navbar .nav-link.active {
  color: #fff;
}

header .navbar .cta {
  float: right;
}

header .navbar .cta > a {
  margin-top: -12px;
  position: relative;
}

@media (max-width: 767.98px) {
  header .navbar .cta > a {
    margin-top: inherit;
  }
}

header .navbar .cta > a span {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
}

header .navbar .dropdown.show > a {
  color: #fff !important;
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

@media (max-width: 1199.98px) {
  header .navbar .dropdown-menu:before {
    display: none;
  }
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #959595;
  color: #fff;
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #959595;
  color: #fff;
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

header .navbar.navbar-light .nav-link {
  color: #fff;
}

header .navbar.navbar-light .nav-link.active {
  color: #fff;
}

.site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;bg-light
}

.site-hero.overlay:before {
  content: "";
  /*background: rgba(0, 0, 0, 0.5);*/
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero.overlay h1, .site-hero.overlay p {
  color: #fff;
}

.site-hero.overlay h1 {
  font-size: 60px;
}

@media (max-width: 1199.98px) {
  .site-hero.overlay h1 {
    font-size: 40px;
  }
}

.site-hero.overlay p {
  font-size: 30px;
}

@media (max-width: 1199.98px) {
  .site-hero.overlay p {
    font-size: 20px;
  }
}

.site-hero .site-hero-inner {
  /*min-height: 750px;
  height: 100vh;*/
}

.room {
  background: #fff;
  margin-bottom: 30px;
}

.room figure {
  position: relative;
  float: left;
  overflow: hidden;
}

.room figure:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  content: "";
}

.room figure .overlap-text {
  z-index: 99;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.room .media-body {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.room .media-body .room-specs {
  margin: 0;
  padding: 0;
}

.room .media-body .room-specs li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 20px 20px 0;
}

.room .media-body .room-specs li span {
  font-size: 30px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.room-thumbnail-absolute {
  position: relative;
}

.room-thumbnail-absolute .room {
  position: relative;
}

.room-thumbnail-absolute .room.bg {
  position: relative;
  height: 47.8%;
  width: 100%;
  background-size: cover;
}

.room-thumbnail-absolute .room.bg:last-child {
  margin-bottom: 0;
}

.room-thumbnail-absolute .room .pricing-from {
  margin-left: 10px;
  padding: 5px 10px;
  background: #000;
  border-radius: 4px;
  font-size: 13px;
}

.room-thumbnail-absolute .room:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  content: "";
}

.room-thumbnail-absolute .room .overlap-text {
  bottom: 20px;
  left: 20px;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.room-thumbnail-absolute .room .overlap-text span {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 7em 0;
  background-color: white;
}

#search-form .search-input {
  width: calc(100% - 160px);
  height: 55px;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

#search-form .search-input:hover, #search-form .search-input:active, #search-form .search-input:focus {
  border: none;
}

#search-form button {
  height: 55px;
  width: 160px;
  border-radius: 0;
}

.img-bg {
  background-size: cover;
}

@media (max-width: 767.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

.feature-destination, .slider-wrap {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: 50px;
}

.feature-destination .img-bg, .slider-wrap .img-bg {
  margin-bottom: 30px;
  display: block;
  height: 300px;
  position: relative;
  top: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.feature-destination .img-bg:before, .slider-wrap .img-bg:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .1;
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg .text, .slider-wrap .img-bg .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.feature-destination .img-bg .text .icon, .slider-wrap .img-bg .text .icon {
  color: #fff;
  font-size: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
}

.feature-destination .img-bg .text h2, .slider-wrap .img-bg .text h2 {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  top: 0px;
  position: relative;
}

.feature-destination .img-bg .text p, .slider-wrap .img-bg .text p {
  color: #fff;
  opacity: 0;
  top: 10px;
  visibility: hidden;
  font-size: 13px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg:hover, .feature-destination .img-bg:focus, .slider-wrap .img-bg:hover, .slider-wrap .img-bg:focus {
  top: -10px;
  -webkit-box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
}

.feature-destination .img-bg:hover .text .icon, .feature-destination .img-bg:focus .text .icon, .slider-wrap .img-bg:hover .text .icon, .slider-wrap .img-bg:focus .text .icon {
  top: -10px;
}

.feature-destination .img-bg:hover .text h2, .feature-destination .img-bg:focus .text h2, .slider-wrap .img-bg:hover .text h2, .slider-wrap .img-bg:focus .text h2 {
  top: -10px;
}

.feature-destination .img-bg:hover .text p, .feature-destination .img-bg:focus .text p, .slider-wrap .img-bg:hover .text p, .slider-wrap .img-bg:focus .text p {
  top: 0;
  opacity: .5;
  visibility: visible;
}

.feature-destination .img-bg:hover:before, .feature-destination .img-bg:focus:before, .slider-wrap .img-bg:hover:before, .slider-wrap .img-bg:focus:before {
  opacity: .4;
}

.slider-wrap {
  margin-top: 0;
}

.slider-wrap .img-bg:hover {
  top: 0;
}

.btn-play-wrap .btn-play {
  width: 70px;
  height: 70px;
  line-height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.btn-play-wrap .btn-play span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  -webkit-transform: translate(-30%, -50%);
  -ms-transform: translate(-30%, -50%);
  transform: translate(-30%, -50%);
  color: #fff;
}

.section-cover {
  background-size: cover;
  position: relative;
  background-position: top left;
}

.section-cover, .section-cover .intro {
  height: 500px;
}

.section-cover p {
  color: #fff;
}

.section-cover h2 {
  color: #fff;
  font-size: 50px;
}

.top-destination .place {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.top-destination .place:hover, .top-destination .place:focus {
  opacity: .7;
}

.top-destination .place img {
  max-width: 100%;
  margin-bottom: 20px;
}

.top-destination .place h2 {
  font-size: 18px;
  line-height: 1.5;
}

.top-destination .place p {
  font-size: 13px;
  color: #ccc;
}

.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
  outline: none;
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea.form-control {
  height: inherit;
}

.btn {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  padding: 12px 30px;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.btn.btn-black {
  background: #000;
  color: #fff;
}

.btn.btn-primary {
  background-color: #fff;
  border-color: #000000;
  color: #000;
  border-width: 2px;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  border-color:  #000000;
  background:  #000000;
  color: #fff
}

.btn.btn-sm {
  font-size: 12px;
}

.btn.btn-outline-primary {
  border-width: 2px;
  color: #000000;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
  color: #fff;
}

.btn.btn-outline-white {
  border-width: 2px;
  border-color: #fff;
  color: #fff;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
  background: #fff;
  color: #000;
  border-width: 2px;
}

.btn:hover {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.custom-icon {
  font-size: 70px;
  color: #b99365;
}

.no-nav .owl-nav {
  display: none;
}

.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #b99365;
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider .slider-item.dark .child-name {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark h1 {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark p {
  color: #000;
}

.owl-carousel.home-slider.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.box {
  overflow: hidden;
  border-radius: 4px;
  display: block;
}

.box img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.box .box-body {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.box h2 {
  font-size: 18px;
  font-family: "Rubik", arial, sans-serif;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.box.hover:hover img, .box.hover:focus img {
  margin-top: -20px;
}

.box.hover:hover .box-body, .box.hover:focus .box-body {
  background: #b99365;
  color: #fff;
  padding: 30px 20px;
  border-color: #b99365;
}

.box.hover:hover h2, .box.hover:focus h2 {
  color: #fff;
}

.breadcrumb-custom {
  background: none;
  padding: 0;
}

.breadcrumb-custom li a {
  color: #b99365;
}

.breadcrumb-custom li a:hover {
  color: #fff;
}

.breadcrumb-custom li.active {
  color: #fff;
}

.breadcrumb-custom li.breadcrumb-item + .breadcrumb-item:before {
  content: "/";
  color: rgba(255, 255, 255, 0.3);
}

.pagination {
  float: none;
  display: inline-block;
}

.pagination li {
  display: inline-block;
}

.post-entry {
  margin-bottom: 30px;
}

.post-entry .body-text {
  padding: 30px;
  background: #fff;
}

.post-entry .body-text .category {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em;
  color: #ccc;
}

.post-entry .body-text .category:after {
  content: "";
  left: 0;
  width: 50px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
}

.children-info li {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #dee2e6;
}

.sidebar {
  padding-left: 5em;
}

@media (max-width: 991.98px) {
  .sidebar {
    padding-left: 15px;
  }
}

.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box .heading {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.tags {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.tags li {
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
  display: inline-block;
}

.tags li a {
  float: left;
  display: block;
  border-radius: 4px;
  padding: 2px 6px;
  color: gray;
  background: #f2f2f2;
}

.tags li a:hover {
  color: #fff;
  background: #b99365;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  border-radius: 7px;
  float: left;
  background: #fff;
}

.sidebar-box ul li {
  list-style: none;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories, .sidelink {
  padding: 0;
}

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
}

.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a, .sidelink li a {
  display: block;
}

.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}

.cover_1 {
  background-size: cover;
  background-position: center center;
  padding: 7em 0;
}

.cover_1 .sub-heading {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}

.cover_1 .heading {
  font-size: 50px;
  color: white;
  font-weight: 300;
}

.heading-wrap .heading {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: Brown-Light;
  color: #4D4D4D;
  font-size: 34px;
  text-align: center;
}

.heading-wrap .sub-heading {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #ccc;
  font-family: "Rubik", arial, sans-serif;
}

.stretch-section .video {
  display: block;
  position: relative;
  -webkit-box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
}

.media-feature {
  padding: 30px;
  -webkit-transition: .2s all ease-out;
  -o-transition: .2s all ease-out;
  transition: .2s all ease-out;
  background: #fff;
  z-index: 1;
  position: relative;
  border-bottom: 10px solid transparent;
  border-radius: 4px;
  font-size: 15px;
}

.media-feature .icon {
  font-size: 60px;
  color: #b99365;
}

.media-feature h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.media-feature:hover, .media-feature:focus {
  -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 2;
  border-bottom: 10px solid #b99365;
}

.media-custom {
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.media-custom .meta-post {
  color: #ced4da;
  font-size: 13px;
  text-transform: uppercase;
}

.media-custom > a {
  position: relative;
  overflow: hidden;
  display: block;
}

.media-custom .meta-chat {
  color: #ced4da;
}

.media-custom .meta-chat:hover {
  color: #6c757d;
}

.media-custom img {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.media-custom:focus, .media-custom:hover {
  top: -2px;
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
}

.media-custom:focus img, .media-custom:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.media-custom .media-body {
  padding: 30px;
}

.media-custom .media-body h3 {
  font-size: 20px;
}

.media-custom .media-body p:last-child {
  margin-bottom: 0;
}

#accordion .card {
  font-size: 15px;
  border-color: #dee2e6;
}

#accordion .card h5 a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #b99365;
  position: relative;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0;
}

#accordion .card h5 a .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

#accordion .card h5 a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card h5 a.collapsed {
  color: #000;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#accordion .card h5 a.collapsed .icon {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#accordion .card h5 a.collapsed:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card .card-body {
  padding-top: 15px;
}

.media-testimonial img {
  width: 100px;
  border-radius: 50%;
}

.media-testimonial blockquote p {
  font-size: 20px;
  color: #000;
  font-style: italic;
}

.list-unstyled.check li {
  position: relative;
  padding-left: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.list-unstyled.check li:before {
  color: #17a2b8;
  left: 0;
  font-family: "Ionicons";
  content: "\f122";
  position: absolute;
}

#modalAppointment .modal-content {
  border-radius: 0;
  border: none;
}

#modalAppointment .modal-body, #modalAppointment .modal-footer {
  padding: 40px;
}

.site-footer {
  padding: 5em 0;
  background: #f2f2f2;
  font-size: 16px;
}

.site-footer h3 {
  margin-bottom: 20px;
  font-family: "Rubik", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .2em;
  color: #b3b3b3;
  text-transform: uppercase;
}

.site-footer .list-unstyled li {
  margin-bottom: 15px;
}

.site-footer .list-unstyled li h3 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Rubik", arial, sans-serif;
}

.site-footer p {
  color: #000;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer a {
  color: #000;
}

.site-footer a:hover {
  opacity: .4;
}

.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}

.site-footer hr {
  width: 100%;
}

.subscribe .form-group {
  position: relative;
}

.subscribe input[type="email"] {
  padding-right: 40px;
}

.subscribe button {
  border: none;
  background: none;
  cursor: pointer;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.subscribe button span {
  font-size: 30px;
}

.search-form-wrap {
  margin-bottom: 5em;
  display: block;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group #s {
  padding-right: 50px;
  background: #f7f7f7;
  padding: 15px 15px;
  border: none;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}

.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.post-entry-sidebar ul li a {
  display: table;
}

.post-entry-sidebar ul li a img {
  width: 90px;
}

.post-entry-sidebar ul li a img, .post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}

.post-entry-sidebar ul li a .text h4 {
  font-size: 18px;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

.blog-entry-footer .post-meta {
  color: gray;
  font-size: 15px;
}

.border-t {
  border-top: 1px solid #f8f9fa;
}

.copyright {
  font-size: 14px;
}

.element-animate {
  opacity: 0;
  visibility: hidden;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

.fullscreen-bg {
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.activate-nav{
  display: none;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    /*background: url('../img/videoframe.jpg') center center / cover no-repeat;*/
  }

  .fullscreen-bg__video {
    /*display: none;*/
    /*width: 500%*/
  }
}

.logo{
  margin: 0 auto;
          position: absolute;
    height: 120px;
    top: -40px;
    left: 0;
    right: 0;
    transition: .3s all ease;
}

.logo2 {
  height: 80px !important;
}
.logo3 {
  height: 80px !important;
  top: -40px !important;
}

.navbar2 {
    padding-top: 0;
    padding-bottom: 0;
    background: #fff !important;
}

/*header .navbar .nav-link.active*/
.active2{
  color: #000 !important;
}

.nav-link2{
  color: rgba(0, 0, 0, 0.38) !important;
}
.logow{
  content: url("../images/logo2.jpg") !important;
}

.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.pl-lg-5, .px-lg-5{
  padding-left: inherit !important;
}

.ml-auto, .mx-auto{
  margin-left: inherit !important;
}

.container {
    position:relative;
}

#trigger {
/*    color:#333;
    display:block;*/
    float:left;
/*    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;*/
    padding:5px 10px;
    text-decoration:none;
    /*border:1px solid #CCC;*/
    margin:20px;
    height: 50px;
    width: 50px;
    /*border-radius:3px;*/
    background-image: url("../images/menu3.png");
    background-size: contain;
}

#trigger:hover{
  color: inherit !important;
  background-color: inherit !important;
  filter: invert(100%);
}

#drop {
  transition: .3s all ease;
    display:none; /* Hide it first of all */
    background:#F8F8F8;
    border:1px solid #CCC;
    box-shadow:0 1px 3px rgba(0,0,0,0.15);
    position:absolute;
    top:75px;
    left:35px;
    width:200px;
    border-radius:3px;
}

#drop a {
  transition: .3s all ease;
    color:#333;
    display:block;
    padding:5px 10px;
    font-family:Helvetica, Arial, sans-serif;
    font-size:12px;
    text-decoration:none;
}

#drop a:hover {
    background:#333;
    color:#FFF;
}

.book{
  width: 250px;
  height: 50px;
  position: absolute;
  right: 20px;
  font-size: 30px;
  top: 25px;
}

@media (max-width: 767px) {
  .book{
    display: none;
  }
  .container1{
    margin-left: 20px;
    left: 0 !important;
  }

}

.book a{
  color: #fff;
  font-family: Brown-Regular;
  font-size: 29px;
  letter-spacing: 1.45px;
}

.a2{
  color: #000 !important;
}

.container1 {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: -20px;
    left: -50px;
}

.container2 {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 40px;
    left: -50px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(0px, 6px);
    background-color: #000;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(0px, -8px);
    background-color: #000;
}

.bar1-new, .bar2-new, .bar3-new{
  background-color: #000 !important;
}

@font-face{
  font-family: Brown-Regular;
  src: url(../fonts/Brown-Regular.otf) format("opentype");;
}

@font-face{
  font-family: Brown-Light;
  src: url(../fonts/Brown-Light.otf) format("opentype");;
}

@font-face{
  font-family: FarnhamDisplayLightRegular;
  src: url(../fonts/FarnhamDisplayLightRegular.otf) format("opentype");;
}

.mb-5, .my-5{
  font-family: FarnhamDisplayLightRegular;
  color: #4D4D4D;
  text-align: left;
  font-size: 14px;
}

.mb-3 a{
  font-family: Brown-Light;
  font-weight: 200;
}

.mt-123{
    font-family: FarnhamDisplayLightRegular;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
}

.logox{
  margin: 0 auto;
    position: absolute;
    height: 120px;
    top: 10px;
    left: 0;
    right: 0;
    transition: .3s all ease;
}

.contact{
    height: 70vh; */
    background-color: aqua;
    width: 100%;
    float: left;
    position: absolute;
    display: none;
    height: 100vh;
    left: 0px;
    display: block;
}

.contact .left-side{
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .left-side .top{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.contact .left-side .bot{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 100%;
    position: absolute;
    /* top: 0px; */
    left: 0px;
    bottom: 0px;

    background-color: white;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    width: 100%;
    flex: 1;
    cursor: pointer;
  }

.contact .left-side .bot .middle{
    margin-left: auto;
    color: #fff;
    letter-spacing: 1.04px;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    padding: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 20px;
}

.contact .left-side .bot .middle a{
    color: #484848;
    
}

.contact .right-side{
    right: 0px;
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;

    background-color: white;
    border-left: solid 1px white;
    padding: 3%;
    overflow-y: auto;

    
}

.contact .right-side .text{
    color: #3b3b3b;
    text-align: center;
    flex-shrink: 0;
}

.contact .right-side .text h3,
.contact .right-side .text h2,
.contact .right-side .text h1,
.contact .right-side .text p{
    color: #3f3f3f !important;
}

.scrolling{
    position: inherit;
    top: 25vh;
}
.about-us{
  
}
.about-us .first{
    height: 60vh;
    background-color: transparent;
    position: relative;
    padding: 1px;
    z-index: 1;
    margin-top: 30vh;
}
.about-us .first .text{
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.about-us .second{
  height: 60vh;
    background-color: transparent;
    position: relative;
    padding: 1px;
    z-index: 1;
}
.about-us .second .text{
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 18px;
}
.about-us .second .text p{
    font-size: 18px;
}
.about-us .third{
  height: 110vh;
    background-color: transparent;
    position: relative;
    padding: 1px;
    z-index: 1;
    margin-bottom: 60vh;
}
.about-us .third .text{
    font-size: 18px;
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 80%;
    transform: translateY(-50%);
    z-index: 1;
}
.about-us .third .text p{
    font-size: 18px;
}
.about-us .about{
  background-image: url(/images/Hotel/IMG_3315-Edit.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}
.about-us .about .text{
  text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.about-us .about .text h3, .about-us .about .text p{
    color: white;
    font-size: 25px;
}

.scrolling{
  padding-top: 50px;
}
#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.w3-bar-item{
  margin-left: 5%;
  font-size: 28px;
}

.bg-light{
  background-color: inherit !important; 
}

.sleft{
  text-align: left;
  font-weight: 600;
}

.w3-col.s6.pad{
padding : 15px;
}
.w3-col.s12.pad{
padding : 15px;
}

.fullwidth{
  width: 100%
}

@media (max-width: 767px) {
  .contact .left-side{
    width: 100%
  }
  .contact .right-side{
    width: 100%;
    margin-top: 176%;
    position: initial;
  }
  .site-hero.overlay{
    /*height: 360vh !important;*/
  }
  .about-us .second {
    height: 100vh;
  }
  .about-us .second .text{
    padding-right: 5%;
    padding-left: 5%;
  
  }
  .about-us .third .{
    height: 100vh;
  }
  .about-us .third .text{
    padding-right: 5%;
    padding-left: 5%;
  
  }
  .about-us .about .{
    height: 100vh;
  }
  .about-us .about .text{
    padding-right: 5%;
    padding-left: 5%;
  }
  .topping{
    height: 170px !important;
  }

}

@media (max-width: 991px) {
  .rooms-page ul.rooms-links .room-link {
    width: 16%;
  }

  .room-benefits-section{
    height: 380px !important;
    padding-left: 0;
  }

  .tolinav{
    width: 70px !important;
  }
}

.content-container{
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
}
.page-content{
  webkit-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  -o-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  -ms-box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  box-shadow: 0px 7px 5px 0px rgba(3, 3, 3, 0.1);
  width: 100%;
  background-color: white;
  overflow: hidden;
  display: inline-block;
  pointer-events: all;
}
.rooms-links{
  width: 100vw!important;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: initial;
  margin: 20px 0;
  /* padding: 10px; */
  width: 100% !important;
  height: initial;
  font-size: 14px;
  transition: .3s all ease;
}
.room-link{
  display: inline-block;
  margin: 0 2% !important;
  position: relative;
  width: 200px ;
  text-align: center;
   line-height: 10px; 
   font-size: 15px;
    font-weight: bold;
}
.room-link .concept {
  display: inline-block;
  margin: 0 2% !important;
  position: relative;
  width: 180px !important;
  text-align: center;
   line-height: 10px; 
}
.room-benefits-section{
  padding-left: 0;
    width: 100%;
    background-color: #F9EBD7;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-top: -60px;
    height: 200px;
}
.primary-container{
  margin: 0 auto;
  max-width: 1205px;
  position: relative;
}
.room-benefits{
  list-style: none;
  float: left;
  text-align: center;
  width: 100%;
  padding-left: 0;
}
.room-benefit{
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
}

h3{
    font-family: Brown-Regular;
    color: #4D4D4D;
}

.room-body-text p{
  font-family: FarnhamDisplayLightRegular;
}

.room-feature-content ul{
  list-style: none;
}

.room-feature-content .clearfix{
  margin: 15px 0px;
}

.room-feature-content .clearfix img{
  float: left;
  margin-right: 5px;
}
.room-feature-content .clearfix .feature-content{
  float: left;
}

.room-feature-content .clearfix .feature-content {
  float: left;
}
.room-feature-content .clearfix .feature-content .feature-title{
    margin: 0;
    padding: 0;
    font-family: BrownRegular;
    font-size: 14px;
    line-height: 20px;
    color: #353535;
}
.room-feature-content .clearfix .feature-content .feature-description{
    margin: 0;
    padding: 0;
    font-family: FarnhamDisplayRegularItalic;
    font-size: 14px;
    line-height: 20px;
    color: #353535;
}
/*
.padder a::after{
      content: "";
    background-image: url(/images/slider-next.png);
    display: block;
    width: 37px;
    height: 13px;
    position: absolute;
    top: 1px;
    right: -30px;
}*/

.tonav{
  position: fixed;
  top: 85px;
  background-color: white;
  height: 70px;
  z-index: 9999;
}
.tolinav{
  display: inline-block;
  margin: 0 2% !important;
  position: relative;
  width: 200px;
  text-align: center;
  line-height: 10px;
  font-size: 15px;
  font-weight: bold;
  top: 20px;
}
h3 .from-price {
    font-family: FarnhamDisplayRegularItalic;
    font-size: 14px;
    font-style: italic;
}
h3 .from-price-price {
    font-family: BrownRegular;
    font-size: 18px;
}

.ribbon{
  display: table;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 10px;
  background-color: gray;
  color: black;
  width: 100px;
  height: 100px;
}

.ribbon .d1{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 15px;
      font-family: Brown-Light;
}
.ribbon .d2{
  margin: 0;
  font-size: 20px;
      font-family: Brown-Light;
}
.ribbon .d3{
  font-size: 15px;
  margin: 0;
      font-family: Brown-Light;
}

.inactive{
  opacity: 0.2;
}

.topping{
  width: 100%;
  height: 260px;
  filter: blur(5px);
}

.carousel-inner .carousel-item img{
  max-height: 600px;
}

.content-index{
  font-size: 14px;
    letter-spacing: 1px;
}

.site-hero > .container3{
    position: absolute;
    width: 740px;
    z-index: 2;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nob{
  list-style-type: none;
}
.normal-place{
  font-size: 14px !important;
  font-family: Brown-Light;
}

#backgroud{
  height: 100%;
}

.big-place{
  font-size: 20px !important;
  font-family: Brown-Light;
}

@media (max-width: 720px) {
  .site-hero {
    height: 180vh !important;
  }
  #text-content{
    /*margin-top: 500px;*/
    width: 100vw;
  }
  #backgroud{
    height: 180vh;
  }
  #ad{
    width: 100vw;
  }
}

.arrow_left{
      position: absolute;
      top: 50%;
      width: 20px;
      z-index: 3;
}
.arrow_right{
      top: 50%;
      position: absolute;
      right: 15px;
      width: 20px;
      z-index: 3;
}

.search-container{
      width: 100%;
    background-color: #113B53;
    height: 100px;
    text-align: center;
    transition: height 0.5s ease-out;
    position: absolute;
    z-index: 100;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.open {
    height: calc(100vh - 80px) !important;
}

.filters {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    display: none;
    background: transparent;
}
.panel {
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    max-width: 1000px;
}

.guide-filters {
    top: auto;
    transform: none;
        margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
}
.guide-filters .guide-filter label {
    color: #5DACD2;
    font-size: 36px;
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.guide-filters .guide-filter select {
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    font-family: 'BrownLight';
    outline: none;
    border-bottom: solid 1px #fff;
    padding: 5px 20px 5px 0;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/dropdown-arrow.png);
    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.gg{
  border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    font-family: 'BrownLight';
    outline: none;
    border-bottom: solid 1px #fff;
    padding: 5px 20px 5px 0;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/dropdown-arrow.png);
    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.gg{
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    font-family: 'BrownLight';
    outline: none;
    border-bottom: solid 1px #fff;
    padding: 5px 20px 5px 0;
    cursor: pointer;
    display: inline-block;
    background-color: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/dropdown-arrow.png);
    background-position: right center;
    background-size: 20px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}
